.app-container {
  display: grid;
  grid-template-areas: "title title" "break session" "timer timer";
  grid-column-gap: 15%;
  grid-row-gap: 30px;
  width: 40vw;
  height: 80vh;
  padding: 0;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-items: center;
}

@media (max-width: 769px) {
  .app-container {
    width: 90vw;
    grid-template-areas: "title" "break" "session" "timer";
  }
}

.container {
  background-color: #110f27;
  border: 5px solid white;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}
.title {
  grid-area: title;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.break {
  grid-area: break;
}

.session {
  grid-area: session;
}

.timer {
  grid-area: timer;
}

label {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: white;
}

.length-button {
  color: #110f27;
  font-weight: bold;
  font-size: 16px;
  background: white;
  border: 5px solid white;
  margin: 5px;
}

.length-value {
  color: #ff7878;
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
}

.timer-value {
  color: #ff3e3e;
  font-weight: bold;
  font-size: 48px;
}

.button-start,
.button-pause,
.button-reset {
  color: #110f27;
  font-weight: bold;
  font-size: 16px;
  background: white;
  border: 5px solid white;
  margin: 5px;
}
